{% extends 'base.html.twig' %}

{% block title %}
    About LL
{% endblock %}

{% block body %}
    <h2> About Lush Lotto</h2>
    <div style="width: 50%">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in magna volutpat, porttitor diam pretium, bibendum neque. Vivamus volutpat turpis id rutrum elementum. Vestibulum mollis justo a metus consequat finibus. Proin nec faucibus nisi, quis feugiat tortor. Sed cursus euismod felis, vel laoreet nulla luctus a. Duis lacinia ornare erat tempus fringilla. Donec mollis eget odio ac iaculis. Morbi arcu eros, pulvinar fermentum nulla ut, tincidunt consequat sapien. Nulla lobortis bibendum odio semper efficitur. Ut sed vulputate velit, eu venenatis lectus. Mauris ut purus nec lectus faucibus tincidunt in quis nulla. In massa nisl, ultricies id elit nec, iaculis consequat leo. Quisque rutrum sagittis sem, non malesuada ante suscipit vel. Curabitur vitae laoreet lacus.
        </p>
    </div>
    <div style="width: 75%">
        <h2>FAQ</h2>
        <div class="faqItem">
            <h3 >Is "Lush Lotto" free? <i class="material-icons">keyboard_arrow_down</i><i class="material-icons" style="display: none">keyboard_arrow_up</i></h3>
            <div class="answer" style="display: none">No, this page is completely free, because is just a simulation.
                <br>You don't pay anything, but also your won prize isn't real</div>
        </div>
    </div>

{% endblock %}